.header {
  @extend %bodycopy;
  @extend %dashBorder;
  font-size: var(--ms-0);
  margin-bottom: $padding;
  padding-bottom: $padding;
  position: relative;
  &:after {
    bottom: 0;
  }
}
.header__copy {
  max-width: 38em;
}
.footer {
  @extend %dashBorder;
  @extend %bodycopy;
  font-size: var(--ms--1);
  display: flex;
  margin-top: calc(#{$padding});
  padding-top: calc(#{$padding} - #{$borderWidth});
  justify-content: space-between;
  position: relative;
  &:after {
    top: 0;
  }
}
