.header {
  @extend %bodycopy;
  font-size: var(--ms-0);
  margin-bottom: $padding * 2;
}
.header__copy {
  max-width: 38em;
}
.footer {
  @extend %bodycopy;
  font-size: var(--ms--1);
  display: flex;
  padding-top: 6em;
  justify-content: space-between;
}
