@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 1850px) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 800px) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 500px) {
      @content;
    }
  } @else if $point==landscape {
    @media (orientation: landscape) {
      @content;
    }
  }
}

@mixin baselineGrid($lineHeight, $offset, $c) {
  background-image: linear-gradient(to bottom, transparent 0px, transparent #{$lineHeight}, $c calc(#{$lineHeight}));
  background-size: 100vw calc(#{$lineHeight} * 2);
  background-repeat: repeat;
  background-position: 0 $offset;
}
%dashBorder {
  &:after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    @include bp(l) {
      height: 2px;
    }
    background-image: repeating-linear-gradient(
      to right,
      black 0,
      black calc(var(--ms-0) * 0.85),
      transparent calc(var(--ms-0) * 0.85),
      transparent calc(var(--ms-0) * 1.5)
    );
    width: 100%;
  }
}

$fast: 100ms;
$lightgray: rgb(220, 220, 220);
$black: rgb(14, 14, 14);
$sans: "neue-haas-unica", sans-serif;
$padding: var(--ms-0);
$borderWidth: calc(var(--ms-0) * 0.1);
$dashBorder: repeating-linear-gradient(
    to right,
    black 0,
    black calc(var(--ms-0) * 0.85),
    transparent calc(var(--ms-0) * 0.85),
    transparent calc(var(--ms-0) * 1.5)
  )
  100;

:root {
  --ratio: 1.2;
  --ms-0: clamp(0.9rem, calc(1.3vw + 0.2rem), 1.3rem);
  --ms--1: calc(var(--ms-0) / var(--ratio));
  --ms-1: calc(var(--ms-0) * var(--ratio));
}

%bodycopy {
  text-rendering: optimizeLegibility;
  font-family: $sans;
  letter-spacing: 0.0085em;
  word-spacing: 0.005em;
  line-height: 1.2;
  font-size: var(--ms-0);
  hyphens: auto;
  @include bp(m) {
    hyphens: none;
  }
  p {
    margin-bottom: .6em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h1,
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-top: 0.65em;
    &:first-child {
      margin-top: 0;
    }
  }

  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
