.home__copy {
  @extend %bodycopy;
  display: grid;
  @include bp(m) {
    grid-template-columns: 1fr 1fr;
  }
}

.project {
  @extend %dashBorder;
  padding-bottom: $padding;
  margin-bottom: calc(#{$padding} * 1.2); // Compensation for type spacing
  position: relative;
  &:after {
    bottom: 0;
  }

}

.project__media {
  margin-bottom: $padding;
  position: relative;
}
.project__copy {
  @extend %bodycopy;
  font-size: var(--ms--1);
  letter-spacing: 0.02em;
  max-width: 40em;
}
.gallery__item {
  margin-right: 1px;
  flex-grow: 1;
  &:last-child {
    margin-right: 0;
  }
  .media {
    width: 100%;
    display: block;
  }
}

.home__cv {
  margin-bottom: 0.9em;
  @include bp(m) {
    margin-bottom: 0;
  }
  ol {
    @include bp(m) {
      margin-bottom: 0.65em;
    }
  }
  li {
    display: flex;
  }
  h3 {
    @include bp(m) {
      text-indent: 7em;
    }
  }
  .years {
    flex-basis: 6.5em;
    flex-shrink: 0;
    @include bp(m) {
      text-align: right;
      width: 6.5em;
    }
    font-style: normal;
    margin-right: 0.5em;
    font-feature-settings: "tnum" 1;
  }
}
