<footer class="footer">
    <a class="footer__email" href="mailto:{{options.contact_email}}">{{options.contact_email}}</a>
    <p class="footer__copyright">
        {{options.copyright_notice}}
    </p>
</footer>