<div class="mk-toolbar">
    <h2>(T to hide/show) </h2>
    <p>
        <em>Baseline Grid (G)</em>
        <span id="grid-status">Off</span>
    </p>
    <p class="build">
        <em>Build</em> <span>

            {{theme.version}}
        </span>
    </p>
</div>